<app-add-todo-form (todoAdded)="fetchTodos()"></app-add-todo-form>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Todo app</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field>
      <mat-label>Select category</mat-label>
      <mat-select [(value)]="selectedCategory">
        <mat-option [value]="null">All</mat-option>
        @for (category of categories$ | async; track category) {
          <mat-option value="{{ category }}">{{ category }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-selection-list>
      @for (todo of todos$ | async; track todo.id) {
        <mat-list-option [selected]="todo.isDone" (click)="toggleDoneFor(todo)">
          <span matListItemTitle
            >{{ todo.title }}
            @if (todo.category) {
              <span>({{ todo.category }})</span>
            }
          </span>
          <span matListItemSubtitle>{{ todo.description }}</span>
        </mat-list-option>
      }
    </mat-selection-list>
  </mat-card-content>
</mat-card>
